@page "/blackListCreate"


<h3>BlackListCreate</h3>

<EditForm Model="BLackListCreate" OnValidSubmit="SubmitCreateBlackList">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Url">Url</label>
        <InputText class="form-control" @bind-Value="BLackListCreate.Url"></InputText>
        <ValidationMessage For="()=>BLackListCreate.Url"></ValidationMessage>
        <small id="urlHelp" class="form-text text-muted">Please enter black list title here.</small>
    </div>

    <div>_userId: @_userId</div>

    @*<div>_userId_2: @_userId_2</div>*@
 
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>


