@page "/userCreate"

<h3>UserCreate</h3>

<EditForm Model="UserRequestCreate" OnValidSubmit="SubmitCreateUser">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="UserName">UserName</label>
        <InputText class="form-control" @bind-Value="UserRequestCreate.UserName"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.UserName"></ValidationMessage>
        <small id="usernameHelp" class="form-text text-muted">Please enter user title here.</small>
    </div>

@*     <div class="form-group">
        <label for="NormalizedUserName">NormalizedUserName</label>
        <InputText class="form-control" @bind-Value="UserRequestCreate.NormalizedUserName"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.NormalizedUserName"></ValidationMessage>
        <small id="normalizedUserNameHelp" class="form-text text-muted">Please enter user title here.</small>
    </div>*@

    <div class="form-group">
        <label for="Email">Email</label>
        <InputText class="form-control" @bind-Value="UserRequestCreate.Email"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.Email"></ValidationMessage>
        <small id="emailHelp" class="form-text text-muted">Please enter email here.</small>
    </div>

    @* <div class="form-group">
        <label for="NormalizedEmail">NormalizedEmail</label>
        <InputText class="form-control" @bind-Value="UserRequestCreate.NormalizedEmail"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.NormalizedEmail"></ValidationMessage>
        <small id="normalizedEmailHelp" class="form-text text-muted">Please enter user title here.</small>
    </div>*@

     <div class="form-group">
        <label for="FirstName">FirstName</label>
        <InputText class="form-control" @bind-Value="UserRequestCreate.FirstName"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.FirstName"></ValidationMessage>
        <small id="firstNamelHelp" class="form-text text-muted">Please enter firstname here.</small>
    </div>

     <div class="form-group">
        <label for="LastName">LastName</label>
        <InputText class="form-control" @bind-Value="UserRequestCreate.LastName"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.LastName"></ValidationMessage>
        <small id="lastNamelHelp" class="form-text text-muted">Please enter lastname here.</small>
    </div>

    @*<div class="form-group">
        <label for="SecurityStamp">SecurityStamp</label>
        <InputText class="form-control" @bind-Value="UserRequestCreate.SecurityStamp"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.SecurityStamp"></ValidationMessage>
        <small id="securityStampHelp" class="form-text text-muted">Please enter user title here.</small>
    </div>*@


    <div class="form-group">
        <label for="Password">Password</label>
        <InputText type="password" class="form-control" @bind-Value="UserRequestCreate.Password"></InputText>
        <ValidationMessage For="()=>UserRequestCreate.Password"></ValidationMessage>
        <small id="passwordHelp" class="form-text text-muted">Please enter password here.</small>
    </div>

    <div class="form-group">
        <label for="Role">Role</label> <br/>
        <InputRadioGroup id="role" @bind-Value="UserRequestCreate.RoleId" class="form-control">
            @foreach (var item in _ListRoleDto)
            {
                <InputRadio Value="@item.Id" /> @item.Name <t/> 
            }
        </InputRadioGroup> 
        <ValidationMessage For="()=>UserRequestCreate.RoleId"></ValidationMessage>
        <small id="xxx" class="form-text text-muted">Please choose user role here.</small>  
       
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {

}
